
a.active{
    font-weight: bold;
    border-bottom:4px white solid;
}
@media (max-width: 768px) {
  a.active{
    color: gray;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(128, 128, 128,0.2);
    border-bottom: none;
}
}