@import "tailwindcss";
@plugin "daisyui";
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #FFFFFF;
  --color-base-200:#c7f9cc;
  --color-base-300:#57cc99 ;
  --color-primary: #22577a;
  --color-secondary:#22577a;
  --color-accent: #4B5563;
}
